body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #555;
  background-color: #FFF;
  margin: 0px;
}

div.page {
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 20px;
}

div#categories {
  display: inline-block;
  width: 340px;
}

div#details {
  display: inline-block;
  position: absolute;
  top: 60px;
  width: 320px;
}

div.title {
  font-size: large;
  margin-bottom: 10px;
}

div#synthesizerTitle {
  color: #88E;
}

div#keyboardTitle {
  color: #1A8;
}

div#synthesizerItemTitle {
  font-size: medium;
  padding-top: 5px;
}

div.instrCategory {
  background-color: #EEE;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 5px;
  width: 300px;
}

div.instrCategoryHeading {
  overflow: hidden;
}

div.instrCategoryHeadingText {
  display: inline-block;
  font-size: medium;
  padding-top: 15px;
}

div.instrDisplay {
  display: inline-block;
  width: 200px;
  height: 51px;
  float: right;
}

div.instrDetailRow {
  margin-top: 3px;
}

div.instrDetailDescr {
  display: inline-block;
  width: 100px;
}

div.instrDetailDisabled {
  color: #999;
}

div.instrSubDetailDescr {
  width: 90px;
  padding-left: 10px;
}

div.instrSubSubDetailDescr {
  width: 80px;
  padding-left: 20px;
}

div.instrDetail {
  display: inline-block;
  width: 130px;
}

div.instrDetail select {
  width: 120px;
}

div.instrDetail input {
  width: 120px;
}

div.instrDetail input[type="checkbox"] {
  width: auto;
}

div.instrDetailValue {
  display: inline-block;
}

div.keyboard {
  width: auto;
  margin-top: 10px;
}

div.key {
  display: inline-block;
  position: fixed;
  border: 1px solid black;
  text-align: center;
  -webkit-user-select: none;
}

div.key * {
  position: relative;
}

div.white {
  background: -webkit-linear-gradient( 90deg, white, #DDD);
  z-index: 10;
}

div.white.playing {
  background: -webkit-linear-gradient( 90deg, #FAA, #DDD);
}

div.white:hover {
  background: -webkit-linear-gradient( 90deg, #FFA, #DDD);
}

div.white.playing:hover {
  background: -webkit-linear-gradient( 90deg, #FAA, #DDD);
}

div.black {
  background: -webkit-linear-gradient( 90deg, #555, black 10%, black 80%, #222);
  color: #888;
  z-index: 20;
}

div.black.playing {
  background: -webkit-linear-gradient( 90deg, #633, #600 10%, #300 80%, #211);
}

div.black:hover {
  background: -webkit-linear-gradient( 90deg, #663, #440 10%, #220 80%, #221);
}

div.black.playing:hover {
  background: -webkit-linear-gradient( 90deg, #633, #600 10%, #300 80%, #211);
}
