#errorDisplay {
  padding-top: 10px;
}

#details {
  background-color: #fff;
  width: 394px;
  padding: 16px 24px;
  font-size: 13px;
  margin-top: -1px;
}

#details input[type="range"] {
  -webkit-appearance:none;
  height: 2px;
  background-color: #ccc;
  padding-top: 0px;
  margin-top: 8px;
  vertical-align: top;
  outline: none;
}

#details input::-webkit-slider-thumb {
  -webkit-appearance:none;
  width:10px;
  height:10px;
  border-radius:10px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(0.49, #666), color-stop(0.51, #666), color-stop(1, #444) );
}

#details select {
  -webkit-appearance:none;
  font-size: 13px;
  color: #444;
  width: 180px;
  top: 0;
  margin-top: -4px;
  background: white;
  border: none;
}

.row {
  min-height: 26px;
  padding-left: 4px;
  padding-right: 4px;
}

.rowName {
  display: inline-block;
  padding-top: 4px;
  width: 150px;
  vertical-align: bottom;
  padding-left: 12px;
}

.rowControl {
  display: inline-block;
  padding-top: 4px;
  width: 150px;
}

.rowValue {
  display: inline-block;
  padding-top: 4px;
  width: 74px;
  vertical-align: top;
}

.svg {
  height: 50px;
  overflow: hidden;
}

.categoryDisplay {
  width: 225px;
}

.contourPanel .rowName {
  width: 138px;
  padding-left: 24px;
}

.contourPanelRow .rowName {
  background-image: url('../assets/rightarrow_small.png');
  background-repeat: no-repeat;
  background-position: left -2px top 22px;
  padding-top: 20px;
  vertical-align: top;
}

.contourPanelRow.hover {
  background-color: #f2f2f2;
}

.contourPanelRow.selected {
}

.contourPanelRow.selected .rowName {
  background-image: url('../assets/downarrow_small.png');
  background-position: left -2px top 23px;
}

.rowName.categoryName {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 4px;
  /* padding is 8px less, so width must be 8px more. */
  width: 158px;
  background-image: none;
  vertical-align: top;
}

.contourDisplay {
  width: 225px;
}

.setting input {
  width: 140px;
}

.categoryDisplay input {
  width: 225px;
  margin-left: 0px;
  margin-right: 0px;
}
