#instrumentPersist {
  display: inline-block;
  padding: 16px;
  width: 100%;
  background: #673ab7;
}

.instrumentSelect {
  -webkit-appearance:none;
  height: 28px;
  width: 294px;
  font-size: 17px;
  color: white;
  top: 0;
  background: #673ab7;
  vertical-align: top;
  border: 1px solid transparent;
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 32px;
  background-image: url('../assets/menu.png');
  background-repeat: no-repeat;
  background-position: left 8px top 5px;
}

.instrumentSelect:focus {
  border: 1px solid #7e57c2;
  outline: none;
}

.persistButton {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-left: 0;
  border: 1px solid transparent;
}

.persistButton:focus {
  border: 1px solid #7e57c2;
  outline: none;
}

.persistButton.pressed {
  background-color: #7e57c2;
}

.persistButton .buttonText {
  color: white;
  font-size: 17px;
}

#categories {
  display: inline-block;
  width: calc(100% - 32px);
  height: 39px;
  padding-left: 28px;
  background: #dadada;
  border: 2px solid transparent;
  border-bottom-color: #b8b8b8;
  border-bottom-width: 6px;
}

#categories:focus {
  outline: none;
  border-top-color: #b8b8b8;
  border-left-color: #b8b8b8;
  border-right-color: #b8b8b8;
}

.category {
  width: 46px;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom-width: 0;
}

.category.hover {
}

#activeCategoryIndicator {
  position: absolute;
  background: #673ab7;
  height: 6px;
  width: 48px;
}

.categoryIcon {
  height: 38px;
  width: 44px;
  border: none;
}
