.newInstrumentIcon {
  background-image: url('../assets/new_instrument.png');
  background-repeat: no-repeat;
  background-position: center;
}

.deleteInstrumentIcon {
  background-image: url('../assets/delete_instrument.png');
  background-repeat: no-repeat;
  background-position: center;
}

.exportInstrumentIcon {
  background-image: url('../assets/export_instrument.png');
  background-repeat: no-repeat;
  background-position: center;
}

.testInstrumentIcon {
  background-image: url('../assets/test_instrument.png');
  background-repeat: no-repeat;
  background-position: center;
}

.pitchIcon {
  background-image: url('../assets/pitch.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.sineWaveIcon {
  background-image: url('../assets/osc_sine.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.squareWaveIcon {
  background-image: url('../assets/osc_square.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.sawtoothWaveIcon {
  background-image: url('../assets/osc_saw.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.triangleWaveIcon {
  background-image: url('../assets/osc_triangle.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.disabledWaveIcon {
  background-image: url('../assets/osc_disabled.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.lowPassFilterIcon {
  background-image: url('../assets/filter_low.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.highPassFilterIcon {
  background-image: url('../assets/filter_high.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.disabledFilterIcon {
  background-image: url('../assets/filter_disabled.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

.envelopeIcon {
  background-image: url('../assets/env.svg');
  background-repeat: no-repeat;
  background-position: left 7px top 4px;
}

