div.keyboard {
  width: auto;
}

div.key {
  display: inline-block;
  position: fixed;
  border: 1px solid black;
  text-align: center;
  -webkit-user-select: none;
}

div.key * {
  position: relative;
}

div.white {
  background: -webkit-linear-gradient( 90deg, white, #DDD);
  z-index: 10;
}

div.white.playing {
  background: -webkit-linear-gradient( 90deg, #FAA, #DDD);
}

div.white:hover {
  background: -webkit-linear-gradient( 90deg, #FFA, #DDD);
}

div.white.playing:hover {
  background: -webkit-linear-gradient( 90deg, #FAA, #DDD);
}

div.black {
  background: -webkit-linear-gradient( 90deg, #555, black 10%, black 80%, #222);
  color: #888;
  z-index: 20;
}

div.black.playing {
  background: -webkit-linear-gradient( 90deg, #633, #600 10%, #300 80%, #211);
}

div.black:hover {
  background: -webkit-linear-gradient( 90deg, #663, #440 10%, #220 80%, #221);
}

div.black.playing:hover {
  background: -webkit-linear-gradient( 90deg, #633, #600 10%, #300 80%, #211);
}

#octaveSelectorContainer {
  text-align: center;
}

.octaveShortcut {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}

#octaveSelectBackground {
  display: inline-block;
  width: 529px;
  height: 40px;
  margin-top: 20px;
  background-image: url("assets/octaveselect.png");
  -webkit-filter: brightness(3.0);
}

#octaveThumb {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 291px;
  left: 200px;
  background-image: url("assets/octaveselect.png");
}