body {
  background: #f06292;
  color: #212121;
}

div.keyboard {
  width: auto;
}

div.key {
  display: inline-block;
  position: fixed;
  border: 3px solid #f06292;
  text-align: center;
  -webkit-user-select: none;
}

div.key * {
  position: relative;
}

div.white {
  background: white;
  z-index: 10;
}

div.white.playing {
  background: #259b24;
  color: white;
}

div.white:hover {
  background: #a3e9a4;
}

div.white.playing:hover {
  background: #259b24;
  color: white;
}

div.black {
  background: #212121;
  color: white;
  z-index: 20;
}

div.black.playing {
  background: #259b24;
}

div.black:hover {
  background: #0d5302;
}

div.black.playing:hover {
  background: #259b24;
}

#octaveSelectorContainer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.octaveShortcut {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}

#octaveSelectBackground {
  display: inline-block;
  width: 529px;
  height: 40px;
  margin-top: 20px;
  background-image: url("assets/octaveselect.png");
  -webkit-filter: brightness(3.0);
}

#octaveThumb {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 291px;
  left: 200px;
  background-image: url("assets/octaveselect.png");
}