body {
  margin: 16px;
  font-family: arial, sans-serif;
  color: #444;
}

div {
  margin: 0px;
}

.synthCategory {
  background-color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  display: inline-block;
  margin-right: 8px;
}

#synthesizerItemTitle {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 4px;
}

#details {
  background-color: #eee;
  width: 394px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  padding: 8px;
  font-size: 14px;
}

.settingRow {
  min-height: 32px;
  padding-left: 4px;
  padding-right: 4px;
}

.settingName {
  display: inline-block;
  padding-top: 8px;
  width: 150px;
  vertical-align: top;
}

.contourRow .settingName {
  padding-left: 12px;
}

.setting {
  display: inline-block;
  padding-top: 4px;
  width: 150px;
}

.settingValue {
  display: inline-block;
  padding-top: 4px;
  width: 50px;
  vertical-align: top;
}

.settingRow select {
  font-size: 14px;
  color: #444;
  width: 140px;
  top: 0px;
}

.settingRow input {
  width: 140px;
}

.hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #9bcff0;
}

